<h2 style=" text-align: center;">List of Goals</h2>

{{#each model as |goal|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{goal.title}}</h3>
    </div>
    <div class="panel-body">
      <p style="display: inline; font-weight: bold">Goal Number : </p> 
      <p style="display: inline"> {{goal.number}}</p>
      <br />

      <p style="display: inline; font-weight: bold">Goal Owner : </p> 
      <p style="display: inline"> {{goal.owner}}</p>
      <br />
      <p style="display: inline; font-weight: bold">Due Date : </p>
      <p style="display: inline;"> {{goal.duedate}}</p>
      <br />

      <p style="display: inline; font-weight: bold">Status : </p>
      <p style="display: inline;"> {{goal.status}}</p>
      <br />
      
      <p style="display: inline; font-weight: bold">Notes : </p>
      <p style="display: inline;"> {{goal.notes}}</p>
      <br />     

      <p style="display: inline; font-weight: bold">Sims : </p>
      <p style="display: inline;">
       {{#each goal.sims as |name|}}
        <ul>
          <li>
            <a target="_blank" href="{{unbound name}}">{{name}}</a>
          </li>
        </ul>
       {{/each}}
       </p>


    </div>
     <div class="panel-footer text-right">
          {{#link-to 'goals.edit' goal.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
          <button class="btn btn-danger btn-xs" {{action 'deleteGoal' goal}}>Delete</button>
    </div>
  </div>
{{/each}}
{{outlet}}
